<section id='welcome-content'>
  <h1>Welcome to Book Club!</h1>
  <p>This is a student project at Turing School of Software & Design</p>
  <p>The purpose of this project was to build an application that allows users to browse and review books.</p>
  <p>It tested our abilities to set up:
    <ul>
      <li>a database with <strong>many-to-many relationships</strong></li>
      <li>access attributes through multiple models</li>
      <li>and implement <strong>CRUD functionality</strong></li>
    </ul>

  <h2>Project Description</h2>
  <ul>
    <li>Module 2 of the Turing Backend Engineering Program</li>
    <li>Technologies used: <strong>Ruby on Rails, RSpec, PostgreSQL</strong> </li>
    <li>Team members: </li>
      <li>Matt Levy - <%= link_to 'https://github.com/milevy1', 'https://github.com/milevy1'  %></li>
      <li>Vincent Provenzano - <%= link_to 'https://github.com/Vjp888/', 'https://github.com/Vjp888/' %></li>
    <li>GitHub Project repository: <%= link_to 'https://github.com/Vjp888/book_club', 'https://github.com/Vjp888/book_club' %> </li>
  </ul>

  <h3>Learning Goals</h3>
  <ul>
    <li>creation of a basic Rails web application</li>
    <li>implementing an organized <strong>MVC structure</strong></li>
    <li>effective and efficient use of <strong>ActiveRecord and SQL</strong></li>
    <li>save and retrieve data from a database</li>
    <li>display content on a web page</li>
    <li>utilizing <strong>TDD to test our code effectively </strong> at a Controller and a Model level</li>
  </ul>
</section>
