<section id='welcome-content'>
  <h1>Welcome to Book Club!</h1>
  <p>This is student project at Turing School of Software & Design</p>
  <p>This purpose of this application was to build an application that allowed users to browse and review books.</p>
  <p>It tested our abilities to set up <strong>many-to-many relationships</strong>, access attributes through multiple models, and implement <strong>CRUD functionality</strong>.</p>

  <h2>Project Description</h2>
  <ul>
    <li>Module 2 of the Turing Backend Engineering Program</li>
    <li>Technologies used: <strong>Ruby on Rails, RSpec, PostgreSQL</strong> </li>
    <li>Team members: <%= link_to 'Matt Levy', 'https://github.com/milevy1'  %> & <%= link_to 'Vincent Provenzano', 'https://github.com/Vjp888/' %></li>
    <li>GitHub repository: <%= link_to 'https://github.com/Vjp888/book_club', 'https://github.com/Vjp888/book_club' %> </li>
  </ul>

  <h3>Learning Goals</h3>
  <ul>
    <li>creation of a basic Rails web application</li>
    <li>implementing basic MVC structure to your project</li>
    <li>effective and efficient user of ActiveRecord</li>
    <li>save and retrieve data from a database</li>
    <li>display content on a web page with very basic styling</li>
    <li>learning how to test your code effectively at a Controller and a Model level</li>
  </ul>
</section>

<img id='turing-logo' src="https://cdn-images-1.medium.com/max/1200/1*AyEW-Sm5r43Hz1TY41fqnA.png" alt="Turing School of Software & Design logo">
