/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  background-color: #E5E5E5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0D4D4D;
  overflow: hidden;
}

nav li {
  float: left;
  font-size: 30px;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #003333;
}

#welcome-content {
  padding-left: 2%;
  font-family: sans-serif;
}

#welcome-content p {
  margin: 5px;
}

#welcome-content li {
  margin: 5px;
}

#book-statistics {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
}

#book-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

#sort-nav {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

#image-show {
  height: 600px;
  width: auto;
}
#book-show-text {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

#image-pack {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

#review-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
  width: 900px;
}

#author-cover-image {
  width: 150px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#welcome-content {
  width: 60%;
}

#book-logo {
  height: 50px;
  width: auto;
}

#book-logo-li {
  padding-top: 5px;
  padding-left: 5px;
}

.book-information {
  display: flex;
  flex-direction: row;
}

.book-card {
  display: flex;
  flex-direction: column;
  flex: 0 1 17%;
  align-items: center;
  margin: 10px;
  border: 2px;
  border-color: black;
  border-style: solid;
  background-color: snow;
}

.book-card p {
  margin: 2px;
}

.book-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  font-family: sans-serif;
}

.image-cover {
  height: 200px;
  padding-top: 15px;
  width: auto;
}

.book-statistics-card {
  flex: 0 1 30%;
}

.book-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
  padding-left: 30px;
  width: 700px;
}

.review {
  margin-top: 5px;
  padding-top: 10px;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.reviews p {
  margin: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-deck {
  display: flex;
  flex-direction: column;
}

.review-image {
  width: 150px;
  height: auto;
}

.review-info {
  display: flex;
  flex-direction: row;
  margin: 15px;
  width: 700px;
  padding-left: 30px;
}

.review-text {
  padding-left: 20px;
}

.review-text p {
  margin: 2px;
}

.user-head {
  padding-left: 30px;
}

.author-book-deck {
  display: flex;
  flex-direction: column;
}

.author-book-card {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  margin: 10px;
  font-family: sans-serif;
}

.author-text-info p{
  margin: 2px;
}

.author-name {
  padding-left: 10px;
  font-family: sans-serif;
  font-weight: bold;
}
